---
// import '@/styles/global.css';
import '@/styles/main.scss';
import { baseUrl } from '@/utils/functions';
const favicon = baseUrl('/assets/favicon.png');
---

<!doctype html>
<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width' />
    <link rel='icon' type='image/svg+xml' href={favicon} />
    <meta name='google' content='notranslate' />
    <title>73</title>
  </head>
  <body>
    <slot />
  </body>
</html>

<style></style>

<!-- <script>
  window.addEventListener('resize', e => {
    document.title = `${window.innerWidth}`;
  });
</script> -->
